.conteineGrid {
    display: grid;
    width: 400px;
    height: 400px;
    border: 2px solid black;
}
.cell {
    border: 1px solid black;

}
.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
