.conteineGrid {
    display: grid;
    width: 400px;
    height: 400px;
    border: 10px solid black;
    
}
.cell {
    border: 0,1px solid black;

}
.white {
  background-color: #aad751f7;
}

.black {
  background-color: #578A34;
}
.cobra {
  background-color: darkgreen !important;
  border-radius: 5px;
}